.container {
  display: flex;
  width: 100%;
  height: max-content;
  margin-bottom: 3rem;
}
.container:hover .info {
  color: var(--color-primary);
}
.logo {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  flex-shrink: 0;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.desc {
  line-height: 1.3;
}
