@import url(./assets/css/reset.css);
@import url(./assets/css/font.css);
@import url(./assets/icons/fontawesome.min.css);
@import url(./assets/icons/regular.min.css);
@import url(./assets/icons/solid.min.css);
@import url(./assets/icons/brands.min.css);

/* root */
:root {
  /* color  */
  --color-primary: #0c65c3;
  --color-secondary: #06c;
  --color-third: #00963c;
  --color-fourth: #ca2166;
  --color-fifth: #f7c32e;
  --color-error: #cc3333;
  --color-white: hsl(0, 0%, 100%);
  --color-dark-5: hsl(0, 0%, 95%);
  --color-dark-10: hsl(0, 0%, 90%);
  --color-dark-15: hsl(0, 0%, 85%);
  --color-dark-20: hsl(0, 0%, 80%);
  --color-dark-25: hsl(0, 0%, 75%);
  --color-dark-30: hsl(0, 0%, 70%);
  --color-dark-35: hsl(0, 0%, 65%);
  --color-dark-40: hsl(0, 0%, 60%);
  --color-dark-45: hsl(0, 0%, 55%);
  --color-dark-50: hsl(0, 0%, 50%);
  --color-dark-55: hsl(0, 0%, 45%);
  --color-dark-60: hsl(0, 0%, 40%);
  --color-dark-65: hsl(0, 0%, 35%);
  --color-dark-70: hsl(0, 0%, 30%);
  --color-dark-75: hsl(0, 0%, 25%);
  --color-dark-80: hsl(0, 0%, 20%);
  --color-dark-85: hsl(0, 0%, 15%);
  --color-dark-90: hsl(0, 0%, 10%);
  --color-dark-95: hsl(0, 0%, 5%);
  --color-black: hsl(0, 0%, 0%);
  /* text */
  --text-primary: #1d1d1f;
  --text-light: #6e6e73;
  /* font */
  --font-size: 1.6rem;
  /* custom */
}

/* config */
body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size);
}
