.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: var(--color-white);
  background-color: var(--color-white);
}
.logo {
  width: 100px;
  margin-right: 3rem;
  flex-shrink: 0;
}
.search {
  max-width: 500px;
  height: 45px;
  flex-grow: 1;
  margin-right: auto;
  background: var(--color-blue-gray-light);
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.buttonGroup {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
