.header {
  position: relative;
  width: 100%;
  height: 90px;
  background: var(--color-white);
  background-color: var(--color-white);
  padding-top: 25px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
  margin-right: 3rem;
  flex-shrink: 0;
}
.search {
  max-width: 600px;
  height: 45px;
  flex-grow: 1;
  margin-right: auto;
  background: var(--color-blue-gray-light);
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.buttonGroup {
  position: relative;
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
.absoluteBtn {
  position: absolute;
  inset: 0;
}
.cartWrapper {
  width: 100%;
  height: 100%;
}
.cartWrapper > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CartCount {
  display: grid;
  place-items: center;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 27px;
  left: 0;
  color: var(--color-white);
  background-color: var(--color-cart-count);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.backdrop {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.backdrop.show {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 700px) {
  .header {
    height: 160px;
  }
  .search {
    max-width: 100%;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0;
  }
}
