.button {
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  color: var(--color-dark-70);
  background: var(--color-blue-gray-light);
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
}
.button:hover{
      background: var(--color-blue-gray-light-hover);
}
