/* root */
:root {
  /* color  */
  --color-primary: #0c65c3;
  --color-secondary: #06c;
  --color-third: #00963c;
  --color-fourth: #ca2166;
  --color-fifth: #f7c32e;
  --color-error: #cc3333;
  --color-white: hsl(0, 0%, 100%);
  --color-dark-5: hsl(0, 0%, 95%);
  --color-dark-10: hsl(0, 0%, 90%);
  --color-dark-15: hsl(0, 0%, 85%);
  --color-dark-20: hsl(0, 0%, 80%);
  --color-dark-25: hsl(0, 0%, 75%);
  --color-dark-30: hsl(0, 0%, 70%);
  --color-dark-35: hsl(0, 0%, 65%);
  --color-dark-40: hsl(0, 0%, 60%);
  --color-dark-45: hsl(0, 0%, 55%);
  --color-dark-50: hsl(0, 0%, 50%);
  --color-dark-55: hsl(0, 0%, 45%);
  --color-dark-60: hsl(0, 0%, 40%);
  --color-dark-65: hsl(0, 0%, 35%);
  --color-dark-70: hsl(0, 0%, 30%);
  --color-dark-75: hsl(0, 0%, 25%);
  --color-dark-80: hsl(0, 0%, 20%);
  --color-dark-85: hsl(0, 0%, 15%);
  --color-dark-90: hsl(0, 0%, 10%);
  --color-dark-95: hsl(0, 0%, 5%);
  --color-black: hsl(0, 0%, 0%);
  /* text */
  --text-primary: #1d1d1f;
  --text-light: #6e6e73;
  /* font */
  --font-size: 1.6rem;
  /* custom */
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
input,
button,
textarea {
  outline: none;
  font: inherit;
}

/* config */
body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size);
}
